# Binaries
/go-html-validate
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test
*.wasm
/zed-ext/target

# Output
*.out

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Coverage
coverage.txt
coverage.html

/.claude/settings.local.json
.beans.clickup.yml

#/go-template-lsp
#go.mod.tmp
